.container {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.block {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  padding: 20px;
  margin: 20px;
}
.mp {
  padding: 10px;
}

.input {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0px 15px 0px;
  padding: 5px 10px;
}

.subtitle {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}

.btn {
  background-color: #55c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.btn:hover {
  transform: scale(1.02)
}

